{{ ansible_managed|comment }}

[Options]
Transfer file=a:\transfer.ini,0
Confirm closure=1
Signature=
KeepDeleted=32
MakeAllVisible=0
UseHooks=1
Hook=001083
Hook1=111083
Hook2=011083
Hook3=010183
Hook4=010177
Hook5=001087
Alarm=,0
SoundAlarmOnWake=0
AOTdefault=1
AlarmAlarm=
LoopAlarm=0
JiggleAlarm=1
FlashAlarm=1
SoundAlarm=0
SnoozeMinutes=5
PreventDuplicates=1
PreventOverlap=1
NewStickiesAppear=0
NewStickiesCoords=0,0
TaskbarButton=1
SingleClickCreates=1
OpaqueEdit=1
Titlebar=3
Hidden=0
DefaultWidth=232
DefaultHeight=405
Snap=1,10,2
NewStickyAction=0
SleepValues=1,2
CheckExtraSpace=1
DontFadeToTransparent=1
AnimationSpeed=15
BackupPeriod=24
KeepBackups=7
ImageStickyDefaultSize=400,300
BulletIndent=300
Google=Google|http://www.google.com/search?q=%s
ManageWindow=358,194,1358,882
ManageWindowVisible=0
ManageGeometry=200,400
ManageSortOrders=2,2,2,2,2,2,2,2,2
ManageSearchOptions=1,1,1,1,1,1,1,0
ManageWindowSearchWhat=0
ManageLocation=1
ManageDates=0
KeepSorted=1
Networking=0
Statistics=0|0
Network timeout=3
BalloonOnSecret=1
BalloonPreview=0
PreventOverlapNetwork=0
NewStickiesAppearNetwork=0
NewStickiesCoordsNetwork=0,0
ServerIP=,0
Use email=0
Ask before mailing=0
Sort order=0
In style=0,0
Pen colour=0,2,1
Pen width=5
Size type=1
Keep aspect=1
Text size=20
ImageUndo=5
Style00=Default:0:-13|0|0|0|0|0|0|0|1|0|0|0|0|Verdana|0|0|0|255|255|180:72: