# URL
APP_FULL_BASE_URL={{ passbolt_url }}

# Database settings
DATASOURCES_DEFAULT_HOST=db
DATASOURCES_DEFAULT_USERNAME={{ passbolt_mysql_user }}
DATASOURCES_DEFAULT_PASSWORD={{ passbolt_mysql_password }}
DATASOURCES_DEFAULT_DATABASE={{ passbolt_mysql_database }}
DATASOURCES_DEFAULT_PORT=3306

# Email
EMAIL_DEFAULT_FROM={{ passbolt_email_from }}
EMAIL_TRANSPORT_DEFAULT_HOST={{ passbolt_email_host }}
EMAIL_TRANSPORT_DEFAULT_PORT={{ passbolt_email_port }}
EMAIL_TRANSPORT_DEFAULT_USERNAME={{ passbolt_email_username }}
EMAIL_TRANSPORT_DEFAULT_PASSWORD={{ passbolt_email_password }}

# Key
PASSBOLT_KEY_NAME={{ passbolt_email_username }}
PASSBOLT_KEY_EMAIL={{ passbolt_email_from }}
PASSBOLT_SECURITY_SALT={{ passbolt_security_salt }}

# Registration
PASSBOLT_REGISTRATION_PUBLIC=true