filepath={{ myfsp_image_uploader_base|win_escape }}hardcopy
ext=.tif
contentType=image/tiff
url=http://imagedb.fspworld.com:8080/idb/imagedb/uploadImage.py
donepath={{ myfsp_image_uploader_base|win_escape }}hardcopy\\uploaded\\
