<Configuration Product="Standard">
	<Display Level="none" CompletionNotice="no" SuppressModal="yes" AcceptEula="yes" />
	<PIDKEY Value="{{ ms_office_mak_key }}" />
	<Setting Id="AUTO_ACTIVATE" Value="1" />
</Configuration>
